- @articles_votes.each do |hash|
  %tr
    %td= display_article_title(hash[:title])
    %td== #{link_to I18n.t('report.details'), article_dashboard_url(@user[:key], hash[:id])} / #{link_to I18n.t('report.views'), hash[:permalink]}
    %td= display_votes(hash[:up_votes_count], hash[:down_votes_count])