%thead
  %tr
    %th.first Article
    %th Views
%tbody#articles_summary
  = render :partial => 'article_stats/article_summary', :collection => articles_stats, :as => :ac
%tfoot
  %tr
    %td{:colspan => 2}
      #pagination= paginate articles_stats, :params => {:controller => 'article_stats', :action => 'index'}