- if ac.count_all == 0
  - break
%tr.ac_summary
  %td
    = link_to CGI.unescape(ac[:title]), ac[:permalink]
    == ( #{link_to I18n.t('report.details'), article_dashboard_url(@user[:key], ac.article_id)} )
  %td= ac.count_all