%thead
  %tr
    %th.first_short Article
    %th.second_short
    %th Views
%tbody#articles_summary
  = render :partial => 'articles/article_summary', :collection => articles_stats, :as => :ac
%tfoot
  %tr
    %td{:colspan => 3}
      #pagination= paginate articles_stats, :params => {:controller => 'articles', :action => 'for_article'}