%thead
  %tr
    %th.first_short Article
    %th.second_short
    %th Views
      
%tbody
  - article_counts.each do |ac|
    - if ac.count != 0
      %tr
        %td= ac.title
        %td== #{link_to "More Details", article_dashboard_url(@user[:key], ac.article_id)} / #{link_to "View Article", ac.permalink}
        %td= ac.count
%tfoot
  %tr
    %td{:colspan => 3}
      -# #pagination= paginate articles_counts, :params => {:controller => 'articles', :action => 'for_article'}