%thead
  %tr
    %th.first Keyphrases
    %th Views
%tbody
  - keyphrase_counts.each do |k|
    %tr
      %td= k[0]
      %td= k[1]
%tfoot
  %tr
    %td{:colspan => 2}
      #pagination= paginate keyphrase_counts, :params => {:controller => 'keyphrases', :action => 'for_article'}      