%thead
  %tr
    %th.rounded-left Article
    %th.rounded-bg ...
    %th.rounded-right ...
%tbody#articles_summary
  = render :partial => 'articles_stats/article_summary', :collection => articles_stats, :as => :ac
%tfoot
  %tr
    %td.rounded-foot{:colspan => 3}
      #pagination= paginate articles_stats, :params => {:controller => 'article_stats', :action => 'index'}